.page_heading_title_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .page_heading_title_box {
    display: flex;
    align-items: center;
    justify-content: start;

    gap: 17px;

    h1 {
      color: #778baa;
      font-weight: 700;
      font-size: 32px;
      line-height: 24px;
      letter-spacing: 0%;
    }

    button {
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
    }

    svg {
      height: 24px;
      width: 24px;
    }
  }
}
