.sumbit_button_create_update_form {
  border: none;
  background: none;
  outline: none;
  background-color: #2e71e2;
  border-radius: 8px;
  padding: 15px 25px;
  color: #f5faff;
  font-size: 15px;
  align-self: flex-end;
  cursor: pointer;
  transition: all 0.33s ease;

  font-family: Almarai;
  font-weight: 550;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;

  &:hover {
    background-color: #4286fb;
  }
}