.last_transaction_card {
  width: 70%;
  flex-direction: column;
  align-items: start;
  .last_transaction_title {
    font-weight: 600;
    font-size: 17px;
    line-height: 22.32px;
    letter-spacing: 0%;
  }

  .antd_table_last_transactions{
    width: 100%;
  }

}
