.user_profile_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  transition: all 0.2s;
  .user_profile_btn {
    border-radius: 100%;
    display: flex;
    align-items: center;
    border: none;
    padding: 6.5px;
    cursor: pointer;
    background-color: #f2f7ff;
    transition: all 0.2s;
    svg {
      color: #2962d8;
      height: 20px;
      width: 20px;
    }
  
    &:hover {
      background-color: #2962d8;
      svg {
        color: #fff;
      }
    }
  }
  
}
