.side_bar_nav {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: start;
  padding: 0 15px;
  transition: all 0.3s;

  &_route {
    padding: 10px;
    display: flex;
    align-items: center;

    gap: 10px;
    color: #8293ae;
    border-radius: 10px;
    width: 100%;
    transition: all 0.3s;

    p {
      font-family: Almarai;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }

    svg {
      height: 23px;
      width: 23px;
      color: #8293ae;
    }

    &:hover {
      background-color: #98cdff;
      color: #fff;
      svg {
        color: #fff;
      }
    }
  }

  &_route_opened {
    justify-content: flex-start;
  }
  &_route_closed {
    justify-content: center;
  }

  .nav_title_show {
    display: inline;
  }
  .nav_title_hide {
    display: none;
  }

  .active {
    background-color: #2962d8;
    color: #fff;
    svg {
      color: #fff;
    }
  }
}
