.table_incomes_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .table_incomes {
    tr {
      text-align: center;
      th {
        background-color: #f4f7fb;
        text-align: center;
        font-family: Almarai;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0%;
        color: #778baa;
      }
      td {
        color: #6a6a6a;
        font-family: Almarai;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
      }
    }
  }
  .ant-pagination {
    justify-content: flex-end;
    align-items: center;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: none;
    }

    .ant-pagination-prev {
      background-color: #fff;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      padding-top: 10px;
      padding-right: 16px;
      padding-bottom: 10px;
      padding-left: 16px;
      border-width: 1px;
    }
    .pagination_text {
      display: flex;
      align-items: center;
      justify-self: center;
      gap: 8px;
    }
  }
}
