.shared_main_layout {
  width: 100vw;
  height: 100vh;
  display: flex;

  &_container {
    overflow: auto;
    width: 100%;
    // flex-grow: 0;
    height: 100%;
    display: flex;
    // padding-right: 180px;
    flex-direction: column;
    gap: 22px;
    background-color: white;
    
    &_outlet {
      padding: 20px 16px 100px 18px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none; /* hiding scroll bar on  IE and Edge */
      scrollbar-width: none; /* hiding scroll bar on  Firefox */
    }
  }
}
