.training_table{
    .table {
        tr {
          text-align: left;
          th {
            background-color: #f4f7fb;
            text-align: left;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0%;
            color: #778baa;
          }
          td {
            color: #6a6a6a;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0%;
          }
        }
    
        border: 1px #e8eff6 solid;
        border-radius: 8px;
        .ant-table {
          border-radius: 8px;
          .ant-table-container {
            .ant-table-content {
              border-radius: 8px !important;
            }
          }
        }
      }
}