.create_form_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.create_form_box {
  background-color: #f5faff;
  border: 1px solid #cecece;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form_column {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: start;
  width: 100%;
  label {
    font-family: Almarai;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }
  input,
  select,
  textarea {
    resize: none;
    border-radius: 8px;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    border: 1px solid #cecece;
    // min-width: 200px;
    width: 100%;
    &::placeholder {
      color: #4f6991;
    }
  }
  .antd_select {
    min-width: 180px;
  }
}

.form_row {
  display: flex;
  align-items: center;
  // width: 100%;
  gap: 16px;
  // justify-content: space-between;
}

.slices_box_container {
  gap: 12px;
  width: 70%;
  .slices_box {
    input {
      max-width: 250px !important;
      min-width: 0 !important;
    }
  }
}
