.card {
  box-shadow:
    #919eab33 0 0 2px,
    #919eab1f 0 6px 12px -4px;
  transition: box-shadow 0.3scubic-bezier (0.4, 0, 0.2, 1);
  border-radius: 16px;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 20px;
}
